<fieldset>
  <legend>Owner Details</legend>
  <table>
    <tr>
      <th>Owner Name</th>
      <td><%= text_field_tag 'owner[name]' %></td>
    </tr>
    <tr>
      <th>Owner Email</th>
      <td><%= email_field_tag 'owner[email]' %></td>
    </tr>
    <tr>
      <th>Owner Phone</th>
      <td><%= text_field_tag 'owner[phone]' %></td>
    </tr>
    <tr>
      <th>Owner Mobile</th>
      <td><%= text_field_tag 'owner[mobile]' %></td>
    </tr>
</fieldset>
