<fieldset>
  <legend>Owner Details</legend>
  <span style="margin-right: 10%;"><%= owner.name %></span>
  <span style="margin-right: 10%;"><%= owner.mobile %></span>
  <span style="margin-right: 10%;"><%= owner.email %></span>
</fieldset>
