<% if @cars.blank? %>
  <form method="post" action="/search">
    <table>
      <tr>
        <td><label>Make</label></td>
        <td><%= list_makes "search[car_models[make_id]]", true %></td>
      </tr>
      <tr>
        <td><label>Model</label></td>
        <td><select id="search_car_model" name="search[car_model_id]"></select></td>
      </tr>
      <tr>
        <td><label>Year</label></td>
        <td><%= select_tag "search[year]", options_for_select(1992..(Date.today.year)), :include_blank => true %></td>
      </tr>
      <tr>
        <td><label>Doors</label></td>
        <td><input type="text" name="search[doors]" />
      </tr>
      <tr>
        <td><label>Seats</label></td>
        <td><input type="text" name="search[seats]" />
      </tr>
      <tr>
        <td><label>Price</label></td>
        <td>From: <input type="text" name="search[price_from]" /> - 
        To  : <input type="text" name="search[price_to]" /></td>
      </tr>
      <tr>
        <td><input type="submit" value="Search" /></td>
      </tr>
    </table>
  </form>
  <script type="text/javascript">
    $(function() {
      $('#search_car_models_make_id').change(function() {
        $('#car_model').empty();
        if($(this).val() == '' || $(this).val() == undefined) return false;
        $.get('/home/getmodels/', { make_id: $(this).val() }, function(data) {
          $('#search_car_model').append('<option></option>');
          for(i = 0; i < data.length; i++) {
            $('#search_car_model').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
          }
        });
      });
    });
  </script>
<% end %>

