<form id="search_form" method="get" action="/car">
  <table>
    <tr>
      <td><label>Make</label></td>
      <td><%= list_makes %></td>
    </tr>
    <tr>
      <td><label>Model</label></td>
      <td><select id="car_model" name="car_model"></select></td>
    </tr>
    <tr>
      <td><label>Year</label></td>
      <td><%= select_year(nil, :start_year => 1992, :end_year => Date.today.year + 1, :include_blank => true) %></td>
    </tr>
    <tr>
      <td><input type="submit" value="Search" /></td>
      <td><a href="/search">Advanced Search</a></td>
    </tr>
  </table>
</form>
